<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} About Me {% endblock %}

{% block content %}
    <main>
        <div class="pb-3">
          <img src="static/images/sandra.jpg" alt="Sandra's profile photo" height="180" width="180">
        </div>
        <div>
            <a href="https://github.com/SandraHeinzova" target="_blank" class="text-decoration-none pe-5">
                <img src="static/icons/github.svg" alt="Github icon" title="Open GitHub">
            </a>
            <a href="https://www.linkedin.com/in/sandra-heinzova/" target="_blank" class="text-decoration-none pe-5">
                <img src="static/icons/linkedin.svg" alt="LinkedIn icon" title="Open LinkedIn">
            </a>
            <a href="static/cv_en.pdf" download target="_blank">
                <img src="static/icons/person_cv.svg" alt="Person CV icon" title="Open CV">
            </a>
        </div>
        <div class="pt-5">
            <h1>Welcome!</h1>
            <h3><small>My name is <span class="differ">Sandra</span>, and I am aiming to become a <span class="differ">
                Python Developer</span>. I am learning, making projects and going for my goal.</small></h3>
        </div>
        <div class="pt-4">
            <p> I am learning Python from Autumn 2022. Ever since I have completed several project, some of them are
                available on my GitHub profile.</p>
            <p> On my path I come across to some Python libraries, as Pandas, Tkinter, SQLite, Selenium, Beautiful Soap,
                Requests etc. </p>
        </div>
    </main>

{% endblock %}
