<!DOCTYPE html>
{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %} Contact Me {% endblock %}

{% block content %}
      <div class="row align-items-justify mb-3">
        <div class="col">
          <a href="mailto:heinzova.sandra@gmail.com" class="icon-text text-decoration-none">
             <img src="static/icons/envelope-at.svg" alt="Mail envelope icon" title="Send message">heinzova.sandra@gmail.com
          </a>
        </div>
        <div class="col">
          <a href="tel:+420731261194" class="icon-text text-decoration-none">
             <img src="static/icons/telephone.svg" alt="mobile phone icon" title="Call me">+420 731 261 194
          </a>
        </div>
      </div>
     <div class="row align-items-justify mb-3">
        <div class="col text-center">
         <a href="static/cv_en.pdf" download class="icon-text text-decoration-none">
           <img src="static/icons/person_cv.svg" alt="Person icon" title="Download">Download EN CV (PDF)
         </a>
        </div>
     </div>
     <div class="row align-items-justify mb-3">
        <div class="col text-center">
         <a href="https://www.linkedin.com/in/sandra-heinzova/" target="_blank" class="icon-text text-decoration-none">
          <img src="static/icons/linkedin.svg" alt="LinkedIn icon" title="Open LinkedIn">LinkedIn
         </a>
        </div>
        <div class="col">
         <a href="https://github.com/SandraHeinzova" target="_blank" class="icon-text text-decoration-none">
          <img src="static/icons/github.svg" alt="Github icon" title="Open GitHub">GitHub
         </a>
        </div>
     </div>
     <div class="px-3 pb-3 pt-3">
        <h1>Contact Me</h1>
        <p>Do you have anything on your mind? You can contact me right away with this form.</p>
           <p>
             {{ render_form(form) }}
             {% if message_sent %}
                <div class="mt-4">
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                      <img src="static/icons/check-circle-fill.svg">
                      <div class="ps-2">
                        Your message was successfully sent to me!
                      </div>
                    </div>
                </div>
             {% endif %}

     </div>

{% endblock %}