<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} About Me {% endblock %}

{% block content %}
    <main>
        <div class="pb-3">
          <img src="static/images/sandra.jpg" alt="Sandra's profile photo" height="180" width="180">
        </div>
        <div class="pt-5">
            <h1>Welcome!</h1>
            <h3><small>My name is <span class="differ">Sandra</span>, and I am aiming to become a <span class="differ">
                Python Developer</span>. I am learning, making projects and going for my goal.</small></h3>
        </div>
        <div class="pt-4">
            <p> I am learning Python from Autumn 2022. Ever since I have completed several project, some of them are
                available on my GitHub profile.</p>
            <p> On my path I come across to some Python libraries and frameworks, as Pandas, Tkinter, SQLite, Selenium, Beautiful Soap,
                Requests, Flet, Flask, Bootstrap etc. </p>
        </div>
    </main>

{% endblock %}
